<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.ActivityMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.community.Activity">
            <id property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="communityId" column="community_id" jdbcType="BIGINT"/>
            <result property="managerId" column="manager_id" jdbcType="BIGINT"/>
            <result property="activityName" column="activity_name" jdbcType="VARCHAR"/>
            <result property="activityContent" column="activity_content" jdbcType="VARCHAR"/>
            <result property="activityLocation" column="activity_location" jdbcType="VARCHAR"/>
            <result property="maxParticipants" column="max_participants" jdbcType="BIGINT"/>
            <result property="activityStatus" column="activity_status" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        activity_id,community_id,manager_id,
        activity_name,activity_content,activity_location,
        max_participants,activity_status,start_time,
        end_time,create_time,update_time,
        is_delete
    </sql>
</mapper>
