<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.AiLogsMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.ai.AiLogs">
            <id property="logId" column="log_id" jdbcType="BIGINT"/>
            <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="logType" column="log_type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,operator_id,content,
        log_type,create_time,update_time,
        is_delete
    </sql>
</mapper>
