<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.FamilyMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.Family">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="familyName" column="familyName" jdbcType="VARCHAR"/>
            <result property="familyAccount" column="familyAccount" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="addId" column="addId" jdbcType="VARCHAR"/>
            <result property="postId" column="postId" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,familyName,familyAccount,
        userId,addId,postId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
