<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.FamilyJoinReviewMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.FamilyJoinReview">
            <id property="reviewId" column="review_id" jdbcType="BIGINT"/>
            <result property="familyId" column="family_id" jdbcType="BIGINT"/>
            <result property="blindId" column="blind_id" jdbcType="BIGINT"/>
            <result property="volunteerId" column="volunteer_id" jdbcType="BIGINT"/>
            <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
            <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
            <result property="reviewStatus" column="review_status" jdbcType="TINYINT"/>
            <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        review_id,family_id,blind_id,
        volunteer_id,apply_time,review_time,
        review_status,reviewer_id,create_time,
        update_time,is_delete
    </sql>
</mapper>
