<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.VolunteerMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.Volunteer">
            <id property="volunteerId" column="volunteer_id" jdbcType="BIGINT"/>
            <result property="communityId" column="community_id" jdbcType="BIGINT"/>
            <result property="isActivelyJoined" column="is_actively_joined" jdbcType="TINYINT"/>
            <result property="familyId" column="family_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="wechatId" column="wechat_id" jdbcType="VARCHAR"/>
            <result property="qqId" column="qq_id" jdbcType="VARCHAR"/>
            <result property="idCard" column="id_card" jdbcType="CHAR"/>
            <result property="otherInfo" column="other_info" jdbcType="VARCHAR"/>
            <result property="onlineStatus" column="online_status" jdbcType="TINYINT"/>
            <result property="helpCount" column="help_count" jdbcType="BIGINT"/>
            <result property="rating" column="rating" jdbcType="DECIMAL"/>
            <result property="latitude" column="latitude" jdbcType="DECIMAL"/>
            <result property="longitude" column="longitude" jdbcType="DECIMAL"/>
            <result property="locationAddress" column="location_address" jdbcType="VARCHAR"/>
            <result property="locationUpdateTime" column="location_update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        volunteer_id,community_id,is_actively_joined,
        family_id,name,phone,
        password,wechat_id,qq_id,
        id_card,other_info,online_status,
        help_count,rating,latitude,
        longitude,location_address,location_update_time,
        create_time,update_time,is_delete
    </sql>
</mapper>
