## Copyright (C) 2001-2010 iFLYTEK.
## Use ';' and '#' character for notation
## Note: Commands in this cfg file is case sensitive

[local]
timeout                          = 15000
pre_connect                      = 0
search_best_url                  = 0
upload_info                      = 1

[aiui]
sessinfodata                     = sessinfo.txt
rslt_timeout                     = 5000
chid_timeout                     = 3000
pushnode_timeout                 = 3000
down_stream_timeout              = 20000
up_stream_req_timeout            = 50000
up_stream_resp_timeout           = 3000
heart_beat_timeout               = 15000
ready_delay_timeout              = 1
chid_delay_reset_timeout         = 3000
pushnode_delay_reset_timeout     = 3000
reset_chid_pushnode_timeout      = 42000000
stmid_q_max                      = 20

[tts]
max_text_size                    = 1024
buff_size                        = 8192

[asr]
max_audio_size                   = 262144
coding_chunk_size                = 5120
vad_enable                       = true
audio_coding                     = speex-wb
coding_level                     = 7

[hcr]
max_data_size                    = 8192

[isv]
max_audio_size                   = 524288
coding_chunk_size                = 5120
audio_coding                     = speex-wb
coding_level                     = 7

[logger]
file                             = msc.log
title                            = Mobile Speech Client
level                            = -1
output                           = 1
filter                           = -1
style                            = -1
flush                            = 0
maxsize                          = 104857600
overwrite                        = 1
maxfile                          =
