<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.VideohelpMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.call.Videohelp">
            <id property="help_id" column="help_id" jdbcType="BIGINT"/>
            <result property="channel_id" column="channel_id" jdbcType="BIGINT"/>
            <result property="blind_id" column="blind_id" jdbcType="BIGINT"/>
            <result property="blind_latitude" column="blind_latitude" jdbcType="DECIMAL"/>
            <result property="blind_longitude" column="blind_longitude" jdbcType="DECIMAL"/>
            <result property="blind_location_address" column="blind_location_address" jdbcType="VARCHAR"/>
            <result property="volunteer_id" column="volunteer_id" jdbcType="BIGINT"/>
            <result property="volunteer_latitude" column="volunteer_latitude" jdbcType="DECIMAL"/>
            <result property="volunteer_longitude" column="volunteer_longitude" jdbcType="DECIMAL"/>
            <result property="volunteer_location_address" column="volunteer_location_address" jdbcType="VARCHAR"/>
            <result property="help_status" column="help_status" jdbcType="TINYINT"/>
            <result property="start_time" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="response_time" column="response_time" jdbcType="TIMESTAMP"/>
            <result property="end_time" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="duration" column="duration" jdbcType="BIGINT"/>
            <result property="video_path" column="video_path" jdbcType="VARCHAR"/>
            <result property="evaluation" column="evaluation" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_delete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        help_id,channel_id,blind_id,
        blind_latitude,blind_longitude,blind_location_address,
        volunteer_id,volunteer_latitude,volunteer_longitude,
        volunteer_location_address,help_status,start_time,
        response_time,end_time,duration,
        video_path,evaluation,create_time,
        update_time,is_delete
    </sql>
</mapper>
