<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.shiwujie.mapper.CallHelpMapper">

    <resultMap id="BaseResultMap" type="com.swj.shiwujie.model.domain.CallHelp">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="familyId" column="familyId" jdbcType="BIGINT"/>
            <result property="blindId" column="blindId" jdbcType="BIGINT"/>
            <result property="blindUid" column="blindUid" jdbcType="VARCHAR"/>
            <result property="channel" column="channel" jdbcType="VARCHAR"/>
            <result property="helpOthersId" column="helpOthersId" jdbcType="VARCHAR"/>
            <result property="helpOthersUid" column="helpOthersUid" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="beginTime" column="beginTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="callTime" column="callTime" jdbcType="TIME"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,familyId,blindId,
        blindUid,channel,helpOthersId,
        helpOthersUid,status,createTime,
        beginTime,endTime,callTime,
        isDelete
    </sql>
</mapper>
